/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --navbar-background-color: #0D140C;
    --navbar-background-transparent-color: #151b14ce;
    --content-background-color: #191f18;
    --movie-container-color: #3C3C3C;
    --user-container-color: #262626;
    --dark-user-container-color: #1d1a1a;
    --darkhover-user-container-color: #2e2b2b;
    --filter-container-active-color: #0D140C;
    --filter-container-color: #7E7373;
    --light-text-color: #fff;
    --movie-name-text-color: #dfdfdf;
    --muted-text-color: #969696;
    --dark-text-color: #000;
    --red-text-color: #f5182ef8;
    --green-text-color: #18f53df8;
    --status-container-color: #e70634;
    --option-list-color: #0d140cc7;
    --btn-color-1: #C10214;
    --seat-available-color: #D9D9D9;
    --seat-selected-color: #FFBE17;
    --seat-taken-color: #C20114;
}

/* BREAKPOINTS */
@media screen and (max-width: 1160px) {
    /* NAVIGATION BAR */
    .nav {
        padding: 15px 100px;
    }

        .nav .search-box {
            right: 150px;
        }

    /* MAIN CONTENT*/
    #now-showing {
        display: block;
        max-width: fit-content;
        margin: 50px;
    }

    .post-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 25px;
        margin: 20px 0 80vh auto;
    }

    /* FILTER BAR */
    #now-showing .tabs_wrap ul {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1000px) {
    .profile-container td:not(:first-of-type) {
        min-width: 12.1rem;
    }

    /* PROFILE */
    .profile-container .table_body label {
        width: 125%;
    }
}

@media screen and (max-width: 950px) {
    /* NAVIGATION BAR */
    .nav {
        padding: 15px 50px;
    }

        .nav .search-box {
            right: 100px;
            max-width: 400px;
        }

    .post-container {
        grid-template-columns: 1fr 1fr;
    }

    /*MOVIE REVIEWS*/
    .form-review .textarea textarea {
        width: 650px;
        transition: width 0.3s ease;
    }

    .comment-box {
        width: 90vw;
        transition: width 0.3s ease;
    }
}

@media screen and (max-width: 768px) {
    /* NAVIGATION BAR */
    .nav .navOpenBtn, .nav .navCloseBtn {
        display: block;
    }

    .nav {
        padding: 15px 25px;
    }

        .nav .nav-links {
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            max-width: 280px;
            width: 100%;
            padding-top: 100px;
            row-gap: 30px;
            flex-direction: column;
            backdrop-filter: blur(5px);
            background-color: var(--navbar-background-transparent-color);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            transition: all 0.4s ease;
            z-index: 100;
        }

        .nav.openNav .nav-links {
            left: 0;
        }

        .nav .navOpenBtn {
            color: var(--light-text-color);
            font-size: 20px;
            cursor: pointer;
        }

        .nav .navCloseBtn {
            position: absolute;
            top: 20px;
            right: 20px;
            color: var(--light-text-color);
            font-size: 20px;
            cursor: pointer;
        }

        .nav .search-box {
            top: calc(100% + 10px);
            max-width: calc(100% - 20px);
            right: 50%;
            transform: translateX(50%);
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

    .userprofile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }

    .userprofile-visible {
        display: none;
    }

    /* PROFILE */
    .profile-container .table_body label {
        width: 158%;
    }

    /*MOVIE REVIEWS*/
    .form-review .textarea textarea {
        width: 550px;
        transition: width 0.3s ease;
    }
}

@media screen and (max-width: 678px) {
    /* HOMEPAGE CAROUSEL */
    .carousel .list .item .content {
        padding-right: 0;
    }

        .carousel .list .item .content .title {
            font-size: 30px;
        }

    /* PROFILE */
    .profile-container .table_body label {
        width: 187%;
    }

    /*MOVIE REVIEWS*/
    .form-review .textarea textarea {
        width: 400px;
        transition: width ease;
    }
}

@media screen and (max-width: 500px) {
    /* HOMEPAGE MAIN CONTENT */
    .post-container {
        grid-template-columns: 1fr;
    }

    /* PROFILE */
    .profile-container .table_body label {
        width: 247%;
    }

    /*MOVIE REVIEWS*/
    .reviews-total {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4rem;
        transition: all 0.3s ease;
    }

    .rating-average {
        width: 70%;
        transition: width 0.3s ease;
    }

    .form-review .textarea textarea {
        width: 225px;
        transition: width 0.3s ease;
    }

    .star-widget label {
        font-size: 14px;
        padding: 2px;
        transition: font-size 0.3s ease;
    }
}

@media screen and (max-width: 300px) {
    /*Homepage Logo*/
    .homepage-logo {
        height: 25px;
        transition: height 0.3s ease;
    }

    /*MOVIE REVIEWS*/
    .moviereviews-container .nav-movies {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all 0.3s ease;
    }

        .moviereviews-container .nav-movies .btnSeats {
            margin: 0 auto;
            padding: 12px;
            width: 100%;
            font-weight: 700;
        }

    .form-review .textarea textarea {
        width: 150px;
        transition: width 0.3s ease;
    }

    .star-widget label {
        font-size: 12px;
        padding: 2px;
        transition: font-size 0.3s ease;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .reviews {
        flex-direction: row;
    }
}

/*Login Signup*/
@media screen and (max-width: 700px) {

    .logo {
        display: none;
    }

    .text {
        color: inherit;
        line-height: inherit;
        font-size: inherit;
    }

    .form-wrapper {
        max-width: none;
        max-height: none;
    }

    .signup-form {
        display: block;
        margin-top: inherit;
        grid-template-columns: initial;
        column-gap: initial;
        row-gap: initial;
    }

    .input-wrap {
        position: initial;
    }

        .input-wrap.w-70 {
            grid-column: initial;
            width: auto;
            margin-left: initial;
        }

    .input-field {
        width: auto;
        background-color: inherit;
        padding: inherit;
        border: inherit;
        outline: inherit;
        font-family: inherit;
        border-radius: inherit;
        color: inherit;
        font-weight: inherit;
        font-size: inherit;
        box-shadow: none;
        transition: inherit;
    }

    .input-wrap label {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        color: inherit;
        pointer-events: initial;
        transition: initial;
    }

    .input-wrap.focus .input-field {
        background-color: inherit;
        border: inherit;
        box-shadow: none;
    }

    .input-wrap.focus label {
        color: inherit;
    }

    .input-wrap.not-empty label {
        font-size: inherit;
        top: inherit;
        transform: inherit;
    }

    .btn {
        display: inline-block;
        width: auto;
        margin-left: initial;
        padding: inherit;
        background-color: inherit;
        margin-top: inherit;
        color: inherit;
        border-radius: inherit;
        border: inherit;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        cursor: inherit;
        transition: inherit;
    }

        .btn:hover {
            background-color: inherit;
        }

    .form-wrapper h1 {
        color: #000;
        font-size: 2rem;
    }

    .form-wrapper Panel {
        margin: 25px 0 65px;
    }

    .form-wrapper {
        position: absolute;
        left: 25%;
        top: 55%;
        width: 430px;
        height: 530px;
        padding: 60px;
        border-radius: 40px;
        background: rgba(234, 234, 234, 0.90);
        transform: translate(-50%, -50%);
    }


    .input-wrap.w-70 {
        position: relative;
        height: 50px;
        margin-bottom: 16px;
        margin-top: 1.50rem;
    }

        .input-wrap.w-70 .input-field {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #fff;
            outline: none;
            border-radius: 20px;
            font-size: 0.80rem;
            color: white;
            transition: 0.4s;
            padding: 0 20px;
        }

        .input-wrap.w-70 label {
            position: absolute;
            left: 20px;
            top: 50%;
            color: #3F3838;
            pointer-events: none;
            font-size: 0.95rem;
            transform: translateY(-50%);
            pointer-events: none;
            transition: 0.4s;
        }


        .input-wrap.w-70 input:is(:focus, :valid) ~ label {
            font-size: 0.75rem;
            transform: translateY(-150%);
        }

    .sign-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 55%;
        height: 48px;
        background: #C20114;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        border-radius: 50px;
        text-align: center;
        margin: 0 auto;
    }

        .sign-btn:hover {
            background-color: #a20111;
        }

    form button:hover {
        background: #1e211e;
    }

    .form-wrapper :where(label, a, p) {
        color: #3F3838;
    }

    .form-wrapper p a {
        color: #0D140C;
    }

    .form-wrapper p {
        margin-left: 1.75rem;
        margin-top: 1rem;
        font-size: 0.95rem;
    }

    .form-wrapper a {
        text-decoration: none;
    }

        .form-wrapper a:hover {
            text-decoration: underline;
        }

    .container {
        z-index: 1000;
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 100%;
    }

    .form-wrapper {
        left: 50%;
        top: 50%;
        background: none;
    }

    .logoaval {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 60%;
        padding: 0 0 20px 0;
    }

    .input-wrap.w-70 .input-field {
        background: #332e2e;
    }

    .input-wrap.w-70 label {
        color: #ababab;
    }

    .form-wrapper p a {
        color: #FFF;
    }

    .form-wrapper :where(label, a, p) {
        color: #ababab;
    }

    .input-wrap.w-70.focus .input-field {
        background-color: var(--bg-color);
        border: 2px solid #981616;
        box-shadow: 0 0 0 5px rgb(157 0 0 / 0.32);
    }

    .input-wrap.w-70.focus label {
        color: #981616;
    }

    .input-wrap.w-70.focus .icon {
        color: #c20114;
    }

    .input-wrap .icon {
        color: #151111;
    }

    .left {
        z-index: 1000;
    }

    .fhfull {
        display: none;
    }

    .fh700 {
        display: block;
    }

    .form-heading a:hover {
        color: var(--light-main-color);
    }
}

@media screen and (max-width: 500px) {
    .image-wrapper .img {
        display: none;
    }

    .image-wrapper {
        background-color: #151111;
    }
}

/*Manage Movie List*/
@media screen and (max-width: 790px) {
    .manageMovie {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .addMovie {
        width: 400px;
    }
}

@media screen and (max-width: 788px) {
    .movieModify li:nth-child(2) a {
        visibility: hidden;
    }

        .movieModify li:nth-child(2) a::before {
            visibility: visible;
            content: "Title";
            display: block;
            text-align: center;
            width: 100%;
        }

    .movieModify li {
        margin-bottom: 0px;
        height: 20px
    }
}

@media screen and (max-width: 960px) {
    .movieContainer {
        display: grid;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        gap: 20px;
    }

    .uploadContainer {
        position: relative;
    }

        .uploadContainer img {
            display: flex;
            width: 55vh;
        }

    .textBoxInput {
        width: 100%;
    }
}



/*NewMovie*/
@media screen and (max-width: 550px) {
    .textBoxContainer {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .lblCSS {
        width: auto;
    }

    div#ChangeContent {
        margin-top: 15vh;
    }

    .saveBtn {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .uploadContainer img {
        width: 45vh;
    }

    .moveMeDown {
        margin-top: 100px;
    }

    .moviePreview {
        margin-top: 610px;
    }


}