﻿ /*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --navbar-background-color: #0D140C;
    --navbar-background-transparent-color: #151b14ce;
    --content-background-color: #191f18;
    --movie-container-color: #3C3C3C;
    --filter-container-active-color: #0D140C;
    --filter-container-color: #7E7373;
    --light-text-color: #fff;
    --movie-name-text-color: #dfdfdf;
    --muted-text-color: #969696;
    --dark-text-color: #000;
    --red-text-color: #f5182ef8;
    --status-container-color: #e70634;
    --option-list-color: #0d140cc7;
    --btn-color-1: #C10214;
    --seat-available-color: #D9D9D9;
    --seat-selected-color: #FFBE17;
    --seat-taken-color: #C20114;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--content-background-color);
}

/* CAROUSEL ===============================*/
.carousel {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: 71px;
    position: relative;
}

    .carousel .list .item {
        position: absolute;
        inset: 0 0 0 0;
    }

        .carousel .list .item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .carousel .list .item .content {
            position: absolute;
            top: 20%;
            width: 1140px;
            max-width: 80%;
            left: 50%;
            transform: translateX(-50%);
            padding-right: 30%;
            box-sizing: border-box;
            color: #fff;
            text-shadow: 0 5px 10px #0004;
        }

            .carousel .list .item .content .author {
                font-weight: bold;
                letter-spacing: 10px;
            }

            .carousel .list .item .content .title,
            .carousel .list .item .content .topic {
                font-weight: bold;
                font-size: 5em;
                line-height: 1.3em;
            }

            .carousel .list .item .content .author,
            .carousel .list .item .content .topic {
                color: var(--btn-color-1);
            }

/* thumbnail */
.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

    .thumbnail .item {
        width: 150px;
        height: 220px;
        flex-shrink: 0;
        position: relative;
    }

        .thumbnail .item img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }

        .thumbnail .item .content {
            position: absolute;
            bottom: 10px;
            left: 10px;
            right: 10px;
        }

            .thumbnail .item .content .title {
                font-weight: bold;
            }

/* arrows */
.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

    .arrows button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #eee4;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: large;
        transition: .5s;
        z-index: 100;
    }

        .arrows button:hover {
            background-color: #eee;
            color: #555;
            cursor: pointer;
        }

.carousel .list .item:nth-child(1) {
    z-index: 1;
}

    .carousel .list .item:nth-child(1) .author,
    .carousel .list .item:nth-child(1) .title,
    .carousel .list .item:nth-child(1) .topic,
    .carousel .list .item:nth-child(1) .buttons {
        transform: translateY(50px);
        filter: blur(20px);
        opacity: 0;
        animation: showContent 0.5s 1s linear 1 forwards;
    }

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .title {
    animation-delay: 1.2s;
}

.carousel .list .item:nth-child(1) .topic {
    animation-delay: 1.4s;
}

.carousel .list .item:nth-child(1) .buttons {
    animation-delay: 1.6s;
}

/*effect next click*/
.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    to {
        width: 150px;
    }
}

.carousel.next .thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail {
    to {
        transform: translateX(0)
    }
}



/* time */
.time {
    width: 100%;
    height: 5px;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
    to {
        width: 0;
    }
}

/* NOW SHOWING CSS STYLES===============================*/
#now-showing {
    max-width: 1170px;
    margin: 70px auto 30px auto;
    width: 100%;
    display: flex;
    background-color: var(--movie-container-color);
}

    /*filter tab************/
    #now-showing .tabs_wrap {
        padding: 20px;
    }

        #now-showing .tabs_wrap h3 {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #now-showing .tabs_wrap ul {
            justify-content: center;
            list-style: none;
        }

            #now-showing .tabs_wrap ul li {
                display: flex;
                width: 135px;
                text-align: center;
                background: var(--filter-container-color);
                color: var(--light-text-color);
                padding: 3px 8px;
                border-right: 2px solid #3a3030;
                transition: all 0.2s ease;
                cursor: pointer;
                justify-content: center;
                align-items: center;
                border-radius: 20px;
                margin: 10px auto;
            }

                #now-showing .tabs_wrap ul li:hover,
                #now-showing .tabs_wrap ul li.active {
                    background: var(--filter-container-active-color);
                    color: var(--light-text-color);
                    font-weight: bold;
                }

                #now-showing .tabs_wrap ul li.active {
                    transform: scale(1.1);
                }



/*movie contents************/
.now-showing-title {
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.post-container {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    margin: 20px 0 auto 20px;
    padding: 15px;
}

.post-box {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.418);
    position: relative;
}

    .post-box .post-img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }

        .post-box .post-img img {
            width: 100%;
            height: 100%;
            object-position: top center;
            object-fit: cover;
        }

.main-slider-text {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg, #161616b9 35%, rgba(37, 37, 37, 0.23) 84%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

    .main-slider-text .status {
        background-color: var(--status-container-color);
        color: var(--dark-text-color);
        font-weight: 600;
        padding: 0px 5px;
        height: 20px;
        margin-left: -25px;
        margin-top: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }

    .main-slider-text .movie-name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        .main-slider-text .movie-name span {
            font-size: 0.8rem;
            letter-spacing: 1px;
            font-weight: 400;
            color: rgba(240, 240, 240, 0.82);
        }

        .main-slider-text .movie-name a {
            font-size: 1rem;
            font-weight: 500;
            line-height: 20px;
            margin-top: 10px;
            color: var(--movie-name-text-color);
            font-weight: 800;
            letter-spacing: 0.5px;
        }

    .main-slider-text .category {
        color: var(--muted-text-color);
        font-size: 0.8rem;
        font-weight: 500;
    }

        .main-slider-text .category a {
            color: var(--status-container-color);
            display: inline-flex;
        }

            .main-slider-text .category a:hover {
                opacity: 0.8;
                transition: all ease 0.3s;
            }

    .main-slider-text .category-rating {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 20px;
    }
