/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --navbar-background-color: #0D140C;
    --navbar-background-transparent-color: #151b14ce;
    --content-background-color: #191f18;
    --movie-container-color: #3C3C3C;
    --user-container-color: #262626;
    --dark-user-container-color: #1d1a1a;
    --darkhover-user-container-color: #2e2b2b;
    --filter-container-active-color: #0D140C;
    --filter-container-color: #7E7373;
    --light-text-color: #fff;
    --movie-name-text-color: #dfdfdf;
    --muted-text-color: #969696;
    --dark-text-color: #000;
    --red-text-color: #f5182ef8;
    --green-text-color: #18f53df8;
    --user-text-color: #807e7e;
    --user-muted-text-color: #7e767675;
    --status-container-color: #e70634;
    --option-list-color: #0d140cc7;
    --btn-color-1: #C10214;
    --textarea-color1: #403B3B;
    --textarea-color2: #221d1d;
    --btn-color-2: #2F2C2C;
    --gold-color: #ffd700;
    --comment-container-color: #191919;
    --seat-available-color: #D9D9D9;
    --seat-selected-color: #FFBE17;
    --seat-taken-color: #C20114;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--content-background-color);
}

/* ======================================================= */

.btnSeats {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto auto auto;
    padding: 5px;
    border: none;
    border-radius: 65px;
    width: 70%;
    color: var(--light-text-color);
    background-color: var(--btn-color-1);
}

.btnSeats:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}

.btnSeats:active {
    transform: translateY(0);
    box-shadow: none;
    cursor: pointer;
}

/* MOVIES-USER/REVIEWS ===============================*/
.movies-section {
    margin: 71px auto 30px auto; 
}

.movies-section img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: top center;
}

.moviereviews-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.moviereviews-container .nav-movies {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 10px;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.moviereviews-container .nav-movies h3 {
    margin: 0;
    display: flex;
    align-items: center;
    color: var(--light-text-color);
}

.moviereviews-container .nav-movies h3:hover {
    cursor: pointer;
}

.moviereviews-container .nav-movies .btnSeats {
    margin: 0 auto;
    padding: 10px;
    font-weight: 700;
}
.moviereviews-container .nav-movies a {
    color: var(--light-text-color);
}


/*RATINGS*/
.reviews-total {
    width: 75vw;
    display: flex;
    align-items: center;
    column-gap: 2rem;
    transition: all 0.3s ease;
}

.rating-average {
    width: 30%;
    background: transparent;
    background-color: var(--textarea-color1);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: .8rem;
    text-align: center;
    transition: width 0.3s ease;
}

.rating-average h1 {
    font-size: 3rem;
}

.rating-average p {
    margin-top: .7rem;
    letter-spacing: .1rem;
}

.rating-progress {
    width: 70%;
}

.rating-progress-value {
    height: 2rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 1rem;
}

.rating-progress-value .star {
    font-size: 1.2rem;
    color: var(--gold-color);
}

.rating-progress-value p:last-child {
    display: inline-block;
    white-space: nowrap;
    width: 10%;
}

.rating-progress .progress {
    flex: 1 1 0;
    height: .5rem;
    border-radius: .5rem;
    background-color: #ff02;
}

.bar {
    height: 100%;
    background-color: var(--gold-color);
    border-radius: .5rem;
    width: 80%;
}

/*User Comment*/
.moviereviews-container {
    display: flex;
    flex-wrap: wrap;
}

.review-container {
    padding: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--comment-container-color);
    color: var(--light-text-color);
    margin: 25px auto 0 auto;
    max-width: 950px;
}

.review-container .review-label {
    display: block;
    font-weight: 700;
    margin: 3rem auto 2rem auto;
    width: 100%;
}

.review-container .user-comment {
    position: relative;
    width: 100%;
    background-color: var(--textarea-color1);
    margin-bottom: 2rem;
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.review-container .user-comment .endpost-container {
    display: none;
}

.review-container .user-comment .text {
    font-size: 25px;
    color: #666;
    font-weight: 500;
}

.review-container .user-comment .edit {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
}

.star-widget {
    display: block;
}

.star-widget input {
    display: none;
}

.star-widget label {
    font-size: 25px;
    color: var(--filter-container-color);
    padding: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: right;
    transition: all 0.2s ease;
    margin-bottom: 10px;
    transition: font-size 0.3s ease;
}

.star-widget label:hover {
    cursor: pointer;
}

.star-widget input:active ~ label {
    transform: scale(1.5);
}

.star-widget input:not(:checked) ~ label:hover,
.star-widget input:not(:checked) ~ label:hover ~ label {
    color: var(--gold-color);
}

.star-widget input:checked ~ label {
    color: var(--gold-color);
}

input#rate-5:checked ~ label {
    color: var(--gold-color);
    text-shadow: 0 0 20px #952;
}

.user-comment .form-review {
    display: none;
}

input:checked ~ .form-review {
    display: block;
    padding: 15px;
}

.form-review header {
    width: 100%;
    font-size: 25px;
    color: var(--gold-color);
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
}

.form-review .textarea {
    height: 100px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    box-sizing: border-box;
}

.form-review .textarea textarea {
    height: 100%;
    width: 750px;
    outline: none;
    color: var(--light-text-color);
    border: 1px solid #333;
    background: var(--textarea-color2);
    padding: 10px;
    font-size: 13px;
    transition: width 0.3s ease;
    resize: none;
}

.form-review .review-postbtn {
    height: 45px;
    width: 100%;
    margin: 15px 0;
}

.form-review .review-postbtn button {
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: var(--btn-color-2);
    color: var(--light-text-color);
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-review .review-postbtn button:hover {
    background: #1b1b1b;
}

/*Post-Comments*/
.post-comments h4 {
    color: var(--light-text-color);
}

.comment-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.comment-box {
    width: 880px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: var(--textarea-color1);
    padding: 20px;
    margin: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: width ease;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: var(--user-text-color);
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: var(--user-muted-text-color);
    font-size: 0.8rem;
}

.reviews {
    color: var(--gold-color);
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 25px auto 25px 25px;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.otherusers-comment p {
    font-size: 0.9rem;
    color: var(--light-text-color);
}