body, html, #form1 {
    margin-top: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

* {
    color: white;
}

h2 {
    left: 50%;
    margin-bottom: 20px;
}

div#ChangeContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 95px;
    height: calc(100% - 95px);
}

.uploadContainer {
    display: flex;
    justify-content: start;
    text-align: center;
    flex-direction: column;
}

.movieContainer {
    height: 700px;
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.textBoxInput {
    height: 30px;
    width: 300px;
    color: black;
    border-radius: 5px;
    padding: 0px 5px;
}

.textBoxContainer {
    margin: 10px;
    display: flex;
    width: 100%;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.description {
    height: 100px;
    resize: none;
}

.lblCSS {
    display: block;
    width: 150px
}

.genre-list {
    width: 100%;
    margin-left: 50px;
    gap: 100px;

}

.saveBtn {
    padding: 10px 60px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: rgb(212, 0, 0);
    margin-left: 100px;
}

.saveBtn:hover {
    background-color: rgb(173, 1, 1);
}

.imgpreview {
    width: 400px;
    height: auto;
    border: 10px solid rgb(173, 1, 1);
    border-style: groove;
}

.validationCtr{
    color: red;
    margin-left: 100px;
    max-width: 360px;
    text-align: center;
}